name: PR check

on:
  pull_request:
    branches:
      - main

jobs:
  pr-check:
    runs-on: ricci-rpi4
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: "Spotless check"
        run: ./gradlew spotlessCheck
      - name: "ABI check"
        run: ./gradlew :kolor-picker:checkLegacyAbi
